nav,
nav ul,
nav li,
 nav a {
 	margin: 0;
 	padding: 0;
 	border: none;
 	outline: none;
 }

 nav{
 	height: 40px;
 	background-color: #4c4e5a;
 	background: linear-gradient(top,#4c4e5a 0%,#2c2d33 100%);
 	border-radius: 5px;
 }
 nav ul li{
 	position: relative;
 	list-style: none;
 	float: left;
 	display: block;
 	height: 40px;
 }
 nav ul li a{
 	display: block;
 	padding: 0 14px;
 	margin: 6px 0;
 	line-height: 28px;
 	text-decoration: none;
 	border-right: 1px solid #393942;
 	border-left: 1px solid #4f5058;
 	font-family: Helvetica, Arial, san-serif;
 	font-size: 13px;
 	font-weight: bold;
 	color: #f3f3f3;
 	text-shadow: 1px 1px 1px rgba(0,0,0,6);
 	transition: color .2s ease-in-out;
 }
  nav ul li:first-child a{border-left:none;}
  nav ul li:last-child a{border-left:none;}

  nav ul li:hover > a{color: #8fde62}

 ul.submenu {
 	position: absolute;
 	top: 40px;
 	left: 0;
	width: 100px;
	 
 	opacity: 0;
	background: #1f2024;
	 
 	border-radius: 0 0 5px 5px;
 	transition: opacity .25s ease .1s;
 }
 nav ul li:hover>ul.submenu{
 	opacity: 10;
 	height: auto;
 }

 .submenu li a{
 	border:none;
 }
 .submenu li{
 	width: 100%;
 	border-bottom: 1px solid #393942; 
 }

 .submenu li:last-child { border-bottom: none; }

 .submenu li a{
 	width: 100%;
 	padding: 4px 0px 4px 40px;
 	margin: 0;
 	border: none;

 }
 /*.submenu a.css3 {background: url(google-docs.png) no-repeat 3px center ;}
 .submenu a.html5 {background: url(html-icon.png) no-repeat 3px center ;}
 .submenu a.php {background: url(php.png) no-repeat 3px center ;}*/